# Database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=db_transcendence	# nome do serviço no docker-compose, não "localhost"
POSTGRES_PORT=5432

# Backend

# Frontend

# Proxy (Nginx com SSL)
PROXY_PORT=8080
